<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>About JS</h1>
            <p>Cherez, Lucas - Gripado, estudando, trabalhando.</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>